:root {
  --main: #1c2333;
  --secondary: #0e1525;
  --acid : #a5be00;
}

body {
  background-color: var(--main);
  color: white;
}

main {
  margin-top: 30px;
  text-align: center;
  vertical-align: center;
  padding-bottom: 20px;
}

input[type=text], select {
  
  background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 27px;
  
  padding: 12px 16px 12px 30px;
  box-sizing: border-box;
  height: 30px;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 2.0s;
  outline: none;
}

input[type=text]:focus, select:focus {
  border: 3px solid var(--acid);
}

.qa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  margin-bottom: 5px;
}

.answer {
  font-style: italic;
  transition: color 0.5s ease-out;
  color: var(--secondary);
}

.answer:hover {
  transition: color 0.6s ease-out;
  color: var(--acid);
}

a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

main {
  margin-left: 25%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px){
  main {
    width: 80%;
    margin-left: 10%;
    text-align: center;
  }
  .question {
    margin-bottom: 10px;
  }
}