:root {
  --main: #1c2333;
  --secondary: #0e1525;
}

body {
  background-color: var(--main);
  color: white;
}

main {
  text-align: center;
  vertical-align: center;
}

.qa-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  height: 1px;
}

a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}